.questions-container
{
    /*border: 3px solid rgb(60,100,159);*/
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5px;
}


.question-inside
{
    display:block;
    text-align: left;
}

.question-choices
{
    /*border: solid 3px red;*/
}

.question-answer
{
    /*border: solid 3px green;*/
}

.spoiler
{
    background-color: gray;
    color: transparent;
    user-select: none;
}
  
.spoiler:hover
{
    background-color: inherit;
    color: inherit;
}