.questions-container
{
    /*border: 3px solid rgb(60,100,159);*/
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5px;
}

.question-inside
{
    display:block;
    text-align: left;
}

.spoiler
{
    background-color: gray;
    color: transparent;
    user-select: none;
}
  
.spoiler:hover
{
    background-color: inherit;
    color: inherit;
}

.edit-item
{
    justify-content: left;
    display:block;
}

.remove-icon
{
    color:red;
}

.delete-icon
{
    color:red;
}

.correct-icon-off
{
    color:grey;
}

.correct-icon-on
{
    color:lime;
}

.add-button
{
    margin-top: -50px;
    margin-left: 75px;
    margin-bottom: 10px;
}

.edit-title
{
    display: inline-block;
}

.edit-title-input
{
    float:left;
}

.delete-button
{
    float:right;
}
