.button-container
{
    width: 100%;
    /*border: 3px solid green;*/
    text-align: center;
}

.load-quiz-button
{
    font-size: x-large;
}


.load-quiz-button:hover 
{
   background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}