.name-container
{
    /*border: 3px solid green;*/
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    display:flex;
}

.test-name
{
    font-size: xx-large;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.save-button
{
    margin-left: auto;
}

.save-icon
{
    color: lime;
}

.questions-container
{
    text-align: center;
}
