<div class = "name-container">
    <p class = "test-name">{{test}}</p>
    <button class = "save-button"  mat-icon-button color = "accent" (click) = "saveQuiz()"><mat-icon matTooltip = "Save quiz" class = "save-icon">save</mat-icon></button>
</div>
<div class = "questions-container">
    <mat-accordion class = "question-cards" *ngFor = "let q of questions;">
        <app-question-card [questionCard]="q" (deleteQuestion) = "deleteQuestion($event)"></app-question-card>
    </mat-accordion>
    <button class = "add-button"  mat-icon-button matTooltip = "Add question" color = "accent" (click) = "addQuestion()"><mat-icon class = "add-icon">add_circle</mat-icon></button>
</div>

